# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Directorios de entorno virtual
.venv/
venv/
env/

# --- Archivos temporales ---
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# --- Resultados de pruebas o datos ---
*.xlsx
*.xls
*.csv
*.parquet

# --- Streamlit ---
.streamlit/
